<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
	  <h5>Payment Successful | Invoice Mail</h5>
	  <p>Your order with ID <%= @order.id %> is placed.</p>
	  <p>Thank you for shopping with us!</p>
	</body>
</html>
